/*Reboot*/

*{
    padding: 0;
    margin: 0;
    border: 0;
 }
 *,*::before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }
 :focus,:active{outline: none;}
 a:focus,a:active{outline: none;}
 nav,footer,header,aside{display: block;}
 html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
 }
 .btn, button{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
 }
 
 .btn:focus, button:focus{
   outline: none;
 } 
 a[href^=tel]{
    color: #000;
 }
 input,button,textarea{font-family: inherit;}
 input::-ms-clear{display: none;}
 button{cursor: pointer;}
 button::-moz-focus-inner{padding: 0;border: 0;}
 a,a:visited{text-decoration: none;}
 a:hover{text-decoration: none;}
 img{vertical-align: top;}
 h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}


body {
    max-width: 100%;
    min-width: 320px;
    font-weight: 300;
    font-size: 1.1vw;
    font-family: 'Sulphur Point', sans-serif;
    overflow-x: hidden;
}
.li {
    list-style: none;
}

/*-----SCROLL ANIMATION------------------------------------------*/

.scroll_animation{
    opacity: 0;
    transform: translateY(15%);
}
.scroll_animation.element-show {
    opacity: 1;
    transition: all 1s;
    transform: translateY(0%);
}

.scroll_animation_right{
    opacity: 0;
    transform: translateX(30%);
}
.scroll_animation_right.element-show {
    opacity: 1;
    transition: all 1s;
    transform: translateX(0%);
}

.scroll_animation_left{
    opacity: 0;
    transform: translateX(-30%);
}
.scroll_animation_left.element-show {
    opacity: 1;
    transition: all 1s;
    transform: translateX(0%);
}

/*-----LINK ANIMATION--------------------------------------------*/

.link_animation{
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 0.06em;
    transition: all 0.5s;
}
.link_animation:hover{
    background-size: 100% 0.06em;
    color: #2344F1;
}

/*----- HEADER --------------------------------------------------*/

.main_header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 1.515em 0 12.63em 0;
}
.logo_main {
    width: 14.375%;
    margin-left: 7%;
}
.logo {
    width: 100%;
}
.main_header_list {
    margin-left: 25%;
    width: 36%;
}
.header_list {
    display: flex;
    list-style: none;
}
.header_item {
    font-size: 1.39vw;
    margin-left: 10.8%;
}
.header_link {
    color: #585858;
}
.header_button_main {
    margin-left: 1%;
}
.header_button {
    background-color: rgba(250, 235, 215, 0);
    color: #2344F1;
    border: 1px solid #2344F1;
    border-radius: 4px;
    font-size: 1.1vw;
    padding: 0.3em 2.7em 0.3em 2.7em;
    transition: all 0.5s;
}
.header_button:hover{
    background-color: #2344F1;
    color: white;
    font-size: 1.6vw;
    padding: 0.15em 1em 0.05em 1em;
    margin-left: 10%;
}

/*----- MAIN ----------------------------------------------------*/

.main_title_text{
    margin-left: 7%;
    font-weight: 700;
    font-size: 6.67vw;
}
.text_under_title {
    margin-left: 36.2%;
    padding-bottom: 12.63em;
}
.text_under_title1 {
    color: #2344F1;
    font-size: 1.67vw;
    line-height: 150%;
    margin-top: 2em;
}
.text_under_title2 {
    color: #2344F1;
    font-size: 1.67vw;
    line-height: 150%;
    margin-top: 1em;
}

/*----- Page 1 --------------------------------------------------*/

.main_block_1 {
    width: 100%;
    display: flex;
    padding-bottom: 7.6em;
}
.main_block_1_1 {
    width: 28%;
    margin-left: 7%;
}
.phone_img{
    width: 74.8%;
}
.main_block_1_2 {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: 2%;
}
.main_block_1_2_1 {
    display: flex;
    flex-direction: row;
    padding-top: 4.1em;
}
.main_block_1_2_2 {
    display: flex;
    flex-direction: row;
    padding-top: 3.53em;
}
.small_block{
    display: block;
    width: 50%;
}
.small_block_title{
    font-weight: 400;
    font-size: 1.67vw;
    margin-top: 0.83em;
}
.small_block_text{
    width: 75%;
    font-size: 1.04vw;
    margin-top: 0.83em;
    line-height: 150%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 250;
}
.icon{
    width: 10.92%;
}
.icon:hover{
    background-color: yellow;
    border-radius: 50%;
    cursor: pointer;
}

/*----- BLOCK 2 -------------------------------------------------*/

.main_block_2{
    display: block;
    width: 100%;
    padding-bottom: 12.63em;
}
.block2_title {
    font-size: 3.33vw;
    color: #2344F1;
    margin-top: 1.668em;
    margin-left: 14%;
}
.block2_text {
    line-height: 150%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 250;
    font-size: 1.67vw;
    margin-top: 1em;
    margin-left: 36%;
}

/*----- BLOCK 3 ------------------------------------------------*/
.main_block_3 {
    width: 100%;
    display: flex;
    padding-bottom: 12.63em;
}
.main_block_1_22 {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: 7%;
}
.main_block_1_11 {
    width: 28%;
    margin-left: -5.5%;
    margin-top: 10.5em;
}
.laptop_img{
    width: 100%;
}

/*-----FOOTER---------------------------------------------------*/

.main_footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 2em;
}
.mail_form{
    margin-left: 7%;
}
.foot_title{
    font-size: 1.67vw;
    color: #2344F1;
}
.mail_input{
    margin-top: 1em;
    width: 114%;
    font-size: 1.1vw;
    border-color: #878787;
    border-bottom: 0.05em solid black;
    line-height: 150%;
}
.arrow{
    width: 1.65%;
    margin-top: 2.7em;
    transition: all 1s;
}
.arrow_class{
    width: 100%;
}
.arrow:hover{
    width: 2%;
    transform: scale(1.6);
    rotate: -180deg;
    margin-top: 1.2em;
    margin-left: -0.3em;
    cursor: pointer;
}
.main_footer_list {
    margin-left: 15.5%;
    width: 36%;
}
.foot_logo {
    width: 14.375%;
    margin-left: 7%;
}
.logo_foot {
    width: 100%;
}